<div id='mainform' class="front_mode"><!-- FRONT_MODE start -->
	
  <div class="main">

    <div class="header">
      <ul class="nav">
        <li>
          <%= link_to "entra", new_session_path, :class => "ico_login" %>  			  
        </li>             
      </ul>
    </div>

    <div class="section">
      <p>Benvenuto in <b>Abnis</b></p>
      <p>Per effettuare il login clicca sulll'icona in alto a sinistra.
      <p>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      </p>
    </div>

  </div>
 
 <div class="related">
    
    <div class="header">
      <a href="#" class="ico_language">lingua</a>
      <input id="search_input" name="serach_input" class="search_input" type="text" value="search"></input>
      <a href="#" id="search_button" class="ico_search"></a>
    </div>

    <div class="section">
    <nav>
      <ul class="view_list">
        <li>
          <a href="#" class="sx ico_language_it">
            <p>Italiano</p>
          </a>  
        </li>
        <li class="alternate">
          <a href="#" class="sx ico_language_us">
            <p>English</p>
          </a>  
        </li>
      </ul>
    </nav>
    </div>
    <div class="footer">
      <a href="#" >1-2 di 2</a>
    </div>
  </div>

</div> <!-- FRONT_MODE end -->