<div class ="rear_mode_overlay"> <!-- REAR_MODE start -->
  <%= link_to "", user_path(1, :selected_related => 'people', :page => @page_id.to_i), :class => "close" %>
  <div class="edit_mode"> <!-- EDIT start --> <!-- the external content is loaded inside this tag -->   
    <ul class="css-tabs"> <!-- TABS start -->
      <li><a href="#" class="ico_select"></a></li>
    </ul> <!-- TABS end -->
    <div class="css-panes"> <!-- PANES start -->
      <div class="myform"> <!-- TAB 1 start -->

        <div class="header">
          <h3>selezione</h3>
        </div>

        <div class="section">
          <nav>
            <ul class="list">
              <li>
                <%= link_to "vai su nuova finestra", person_path(@person_id, :selected_related => 'favorites'), :class => 'ico_window_new', :target => "_blank" %>
              </li>
              <li>
                <%= link_to "vai su stessa finestra", person_path(@person_id, :selected_related => 'favorites'), :class => 'ico_window_same' %>
              </li>
            </ul>
          </nav>
        </div>

        <div class="footer">
          <a href="#" >1-2 di 2</a>
        </div>

      </div> <!-- TAB 1 end -->
    </div> <!-- PANES end -->
  </div> <!-- EDIT end -->
</div> <!-- REAR_MODE end -->