<div class="header">
  <%= link_to "", users_select_related_path( :selected_related => 'favorites' ), :class => "ico_favorite" %>
  <input id="search_input" name="serach_input" class="search_input" type="text" value="search"></input>
  <a href="#" id="search_button" class="ico_search">
  <a href="#" id="new_button" class="ico_new"></a>
</div>

<div class="section">
  <nav>
    <ul class="view_list">
      <li>
        <a href="#" class="sx" loadOverlay="false" rel="#edit_related">
          <p>azienda del cuore</p>
          <p><b>questa la uso spesso</b></p>
        </a>  
      </li>
      <li class="alternate">
        <a href="#" class="sx" loadOverlay="false" rel="#edit_related">
          <p>cliente amico</p>
          <p><b>questo lo chiamo spesso</b></p>
        </a>  
      </li>
      <li>
        <a href="#" class="sx" loadOverlay="false" rel="#edit_related">
          <p>in lavorazione</p>
          <p><b>i preferiti utente sono in lavorazione</b></p>
        </a>  
      </li>
    </ul>
  </nav>
</div>
<div class="footer">
  <a href="#" >1-3 di 3</a>

  <div class="checkbox_attuale_archivio">
    <input id="storico" name="1" type="checkbox" value="1" checked="checked"/>
    <label for="storico">Check-me</label>
  </div>

  </div>
</div>