/*
CSS Document
Filename: abnis_front.css
Title : Primary CSS file for abnis.com
Author : Flavio Bordoni, flavio.bordoni@fbfwebdesign.com
URL : http://www.abnis.com/css/base.css
License: Copyright 2010, Flavio Bordoni, All Rights Reserved.
Feel free to read and learn from this, but please don't steal.
*/

FORM.front_mode, DIV.front_mode
{
	/*LAYOUT start*/

	width: 320px; /*iphone width 320px*/
	height: 512px; /*iphone height 492px*/
	margin: auto;
	margin-top: 20px;
	padding: 2px;
	border: 1px solid #EEEEEE;
	-moz-border-radius: 5px; /*CSS3 spicing*/
	-webkit-border-radius: 5px; /*CSS3 spicing*/

	.main
	{
		width: auto; /*max-height: 120px;*/
		height: 140px;
		padding: 2px;
	}

	.main > .header
	{
		width: auto;/*max-height: 50px;*/
		height: 33px;
		overflow: auto;
		clear: both;
	}

	.main > .section
	{
		width: auto; /*max-height: 50px;*/
		height: 108px;
		overflow: auto;
		clear: both;
	}

	/*ELIMINATO - NON ESISTE FOOTER SULLA MAIN
	.main > .footer
	{
	width: auto;
	height: 33px;
	overflow: auto;
	clear: both;
	}
	*/

	.related
	{
		width: auto; /*max-height: 360px;*/
		height: 360px;
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 2px;
		border: 1px solid #EEEEEE;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.related > .header
	{
		width: auto; /*max-height: 50px;*/
		height: 33px;
		overflow: auto;
		clear: both;
		padding: 2px;
	}

	.related > .section
	{
		width: auto; /*max-height: 450px;*/
		height: 284px;
		overflow-y: scroll;
		clear: both;
		margin-top: 2px;
		margin-bottom: 2px;
		/*border-top: #555 solid 2px;*/
		/*border-bottom: #555 solid 2px;*/
	}

	.related > .footer
	{
		bottom: 2px;
		width: auto; /*max-height: 50px;*/
		height: 33px;
		overflow: auto;
		clear: both;
		padding: 2px;
	}

	/*LAYOUT end */

	/* TYPOGRAPHY start*/

	H1
	{
		font-size: 16px;
		min-height: 25px;
		color: #000000;
	}

	H2
	{
		font-size: 14px;
		min-height: 25px;
		color: #000000;
	}

	H3
	{
		font-size: 12px;
		min-height: 25px;
		color: #EEE;
	}

	H4
	{
		display: block;
		font-size: 11px;
		line-height: 1.1em;
		min-height: 25px;
		color: #CCC;
	}

	H5
	{
		font-size: 11px;
		min-height: 25px;
		color: #CCC;
	}

	H6
	{
		font-size: 11px;
		min-height: 25px;
		color: #CCC;
	}

	P
	{
		width: auto;
		color: #222222;
/*		background-color: #ff2233;
		min-height: 25px;
		border: 1px solid #444444;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: green;
		text-shadow: 1px 1px 1px #000000;
*/
	}

	A:link, A:visited
	{
		color: #000000;
		min-width: 17px;
		/*viene allargato a 25px da 4px padding-left + 4px padding-right*/
		min-height: 25px;
		float: left;
		display: block;
		text-decoration: none;
		line-height: 25px;
		/*permette di centrare il testo verticalmente*/
		margin: 1px;
		margin-top: 0px;
		/*padding-left: 6px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;*/
		border: 1px solid #DEDEDE;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	A:hover, A:focus
	{
		color: #000000;
		border: 1px solid #DEDEDE;
		background-color: #DEDEDE;
	}
	A:active
	{
		outline: none;
		/*get rid of those system borders being generated for A tags*/
	}

	B
	{
		font-weight: bold;
	}

	INPUT
	{
		font-family: georgia;
		font-size: 16px;
	}

	/*TYPOGRAPHY end*/

	/*NAVIGATION start*/
	UL.nav
	{
		list-style-type: none;
	/*important for the navigation bar
	background: red;
	for debug
	border-bottom: 2px solid yellow;
	for debug*/
	}
	UL.nav LI
	{
		padding-left: 16px;
		float: left;
		background: url("my_style_images/goTo.png") no-repeat left;
	}
	UL.nav LI:first-child
	{
	/*height: 25px;*/
		padding-left: 0px;
	/*padding-right: 2px;*/
		float: left;
		background: none;
	}
	UL.nav LI:first-child A
	{
		background-position: 2px;
		text-indent: 25px;
	/*sposta il testo e permette di vedere l'icona
	height: 27px;
	padding-left: 26px;*/
	}
	/*NAVIGATION end*/

	/*SEARCH INPUT start*/
	INPUT.search_input
	{
	/*min-width: 22px;*/
		width: 150px;
		min-height: 23px;
		float: left;
		display: block;
		margin-top: 0px;
		margin-right: 0px;
		padding-right: 0px;
	/*padding: 0px;
	text-shadow: 1px 1px 1px #000;*/
		border: 1px solid #DEDEDE;
		-moz-border-radius: 4px 0px 0px 4px;
	/*CSS3 spicing topLeft topRight BottomRight bottomLeft*/
		-webkit-border-radius: 4px 0px 0px 4px;
	/*CSS3 spicing topLeft topRight BottomRight bottomLeft*/
	}
	A.ico_search, INPUT.ico_search
	{
		float: left;
		width: 27px;
		padding-left: 0px;
		margin-left: 0px;
		background: url("my_style_images/search.png") no-repeat 1px;
		border-left: none;
		-moz-border-radius: 0px 4px 4px 0px;
	/*CSS3 spicing topLeft topRight BottomRight bottomLeft*/
		-webkit-border-radius: 0px 4px 4px 0px;
	/*CSS3 spicing topLeft topRight BottomRight bottomLeft*/
	}
	A.ico_search:hover, A.ico_search:focus
	{
		background-color: #888;
		border: 1px solid #444;
		border-left: none;
	}
	/*SEARCH INPUT end */

	/*PAGINATION start*/
	DIV.pagination
	{
		list-style-type: none;
	}
	DIV.pagination A
	{
		height: 25px;
		padding-left: 0px;
		float: left;
		background-color: #FF0000;
	}
	DIV.pagination SPAN.previous_page.disabled, DIV.pagination SPAN.next_page.disabled
	{
		height: 25px;
		padding-left: 0px;
		float: left;
		background-color: #008000;
		min-width: 17px;
	/*viene allargato a 25px da 4px padding-left + 4px padding-right*/
		min-height: 25px;
		float: left;
		display: block;
		text-decoration: none;
		line-height: 25px;
	/*permette di centrare il testo verticalmente*/
		margin: 1px;
		margin-top: 0px;
	/*padding-left: 6px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;*/
		border: 1px solid #DEDEDE;
		-moz-border-radius: 4px;
	/*CSS3 spicing*/
		-webkit-border-radius: 4px;
	/*CSS3 spicing*/
	}
	DIV.pagination EM
	{
		height: 25px;
		padding-left: 0px;
		float: left;
		background-color: #FFFF00;
		min-width: 17px;
	/*viene allargato a 25px da 4px padding-left + 4px padding-right*/
		min-height: 25px;
		float: left;
		display: block;
		text-decoration: none;
		line-height: 25px;
	/*permette di centrare il testo verticalmente*/
		margin: 1px;
		margin-top: 0px;
	/*padding-left: 6px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;*/
		border: 1px solid #DEDEDE;
		-moz-border-radius: 4px;
	/*CSS3 spicing*/
		-webkit-border-radius: 4px;
	/*CSS3 spicing*/
	}
	DIV.pagination SPAN.gap
	{
		height: 25px;
		padding-left: 0px;
		float: left;
		background-color: #FFFF00;
		min-width: 17px;
	/*viene allargato a 25px da 4px padding-left + 4px padding-right*/
		min-height: 25px;
		float: left;
		display: block;
		text-decoration: none;
		line-height: 25px;
	/*permette di centrare il testo verticalmente*/
		margin: 1px;
		margin-top: 0px;
	/*padding-left: 6px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;*/
		border: 1px solid #DEDEDE;
		-moz-border-radius: 4px;
	/*CSS3 spicing*/
		-webkit-border-radius: 4px;
	/*CSS3 spicing*/
	}
	/*PAGINATION end*/

	/* IPHONE CHECKBOXES ONLY CSS3 start */
	.checkbox_on_off
	{
		display: block;
		width: 94px;
		height: 27px;
		overflow: hidden;
		border-radius: 3px;
	}
	.checkbox_on_off INPUT[type=checkbox]
	{
		display: none;
	}
	.checkbox_on_off INPUT[type=checkbox] + LABEL
	{
		text-indent: -9999px;
		display: block;
		width: 150px;
		height: 27px;
		line-height: 27px;
		background: transparent url("/assets/my_style_images/iphone_style_checkboxes/on_off.png") no-repeat -56px 0;
		-webkit-transition: background-position 0.3s ease-in-out;
		-moz-transition: background-position 0.3s ease-in-out;
	}
	.checkbox_on_off INPUT[type=checkbox]:checked + LABEL
	{
		-webkit-transition: background-position 0.3s ease-in-out;
		-moz-transition: background-position 0.3s ease-in-out;
		background-position: -3px 0;
	}
	.checkbox_attuale_archivio
	{
		display: block;
		width: 94px;
		height: 27px;
		overflow: hidden;
		border-radius: 3px;
	}
	.checkbox_attuale_archivio INPUT[type=checkbox]
	{
		display: none;
	}
	.checkbox_attuale_archivio INPUT[type=checkbox] + LABEL
	{
		text-indent: -9999px;
		display: block;
		width: 150px;
		height: 27px;
		line-height: 27px;
		background: transparent url("/assets/my_style_images/iphone_style_checkboxes/attuale_archivio.png") no-repeat -56px 0;
		-webkit-transition: background-position 0.3s ease-in-out;
		-moz-transition: background-position 0.3s ease-in-out;
	}
	.checkbox_attuale_archivio INPUT[type=checkbox]:checked + LABEL
	{
		-webkit-transition: background-position 0.3s ease-in-out;
		-moz-transition: background-position 0.3s ease-in-out;
		background-position: -3px 0;
	}
	/*IPHONE CHECKBOXES ONLY CSS3 end*/


	/*VIEW_LIST start*/
	UL.view_list
	{
		list-style-type: none;
	/*important for the navigation bar
	background: red; /*for debug
	border-bottom: 2px solid yellow;/*for debug*/
	}
	UL.view_list > LI > A.sx
	{
		float: left;
		background: #F5F5F5;
	/**/
		width: 270px;
		border: none;
	}
	UL.view_list > LI > A.dx
	{
		float: left;
		background: #F5F5F5;
	/**/
		width: 10px;
		border: none;
	}
	UL.view_list > LI > A:hover, UL.view_list > LI > A:focus
	{
		background: #DEDEDE;
	/**/
	}
	UL.view_list > LI.alternate > A
	{
		background: #F8F8F8;
	/*#6FA4FE*/
		border: none;
	}
	UL.view_list > LI.alternate > A:hover, UL.view_list > LI.alternate > A:focus
	{
		background: #DEDEDE;
	/**/
		border: none;
	}
	/*VIEW_LIST end */

	/*ICONS start*/
	.ico_home, .ico_login, .ico_logout, .ico_person, .ico_connect, .ico_company, .ico_product, .ico_project, .ico_new, .ico_new_disabled, .ico_favorite, .ico_delete, .ico_edit, .ico_option, .ico_language, .ico_language_it, LI A.ico_language_it P, .ico_language_us, LI A.ico_language_us P, .ico_select, .ico_select_all, .ico_tutorial, .ico_users, .ico_window_same, .ico_window_new
	{
		text-indent: 24px;
	/*sposta il testo e permette di vedere l'icona*/
		padding-left: 4px;
	/*sposta il testo ma allunga anche il block*/
		padding-right: 4px;
		background-repeat: no-repeat;
		background-position: 2px;
	}
	.ico_home
	{
		background-image: url("my_style_images/icons/home.png");
	}
	.ico_login
	{
		background-image: url("my_style_images/icons/login.png");
	}
	.ico_logout
	{
		background-image: url("my_style_images/icons/logout.png");
	}
	.ico_person
	{
		background-image: url("my_style_images/icons/person.png");
	}
	.ico_connect
	{
		background-image: url("my_style_images/icons/connect.png");
	}.ico_company
	{
		background-image: url("my_style_images/icons/company.png");
	}
	.ico_product
	{
		background-image: url("my_style_images/icons/product.png");
	}
	.ico_project
	{
		background-image: url("my_style_images/icons/project.png");
	}
	.ico_new
	{
		background-image: url("my_style_images/icons/new.png");
	}
	.ico_new_disabled
	{
		background-image: url("my_style_images/icons/new_disabled.png");

	}
	.ico_favorite
	{
		background-image: url("my_style_images/icons/favorite.png");
	}
	.ico_delete
	{
		background-image: url("my_style_images/icons/delete.png");
	}
	.ico_edit
	{
		background-image: url("my_style_images/icons/edit.png");
	}
	.ico_option
	{
		background-image: url("my_style_images/icons/option.png");
	}
	.ico_language
	{
		background-image: url("my_style_images/icons/language.png");
	}
	.ico_language_it, LI A.ico_language_it P
	{
		background-image: url("my_style_images/icons/language_it.png");
	}
	.ico_language_us, LI A.ico_language_us P
	{
		background-image: url("my_style_images/icons/language_us.png");
	}
	.ico_select
	{
		background-image: url("my_style_images/icons/select.png");
	}
	.ico_select_all
	{
		background-image: url("my_style_images/icons/select_all.png");
	}
	.ico_tutorial
	{
		background-image: url("my_style_images/icons/tutorial.png");
	}
	.ico_users
	{
		background-image: url("my_style_images/icons/users.png");
	}
	.ico_window_same
	{
		background-image: url("my_style_images/icons/window_same.png");
	}
	.ico_window_new
	{
		background-image: url("my_style_images/icons/window_new.png");
	}
	/*ICONS end */

}
/* FRONT_MODE end */